/**-************************************-**/
/** Author   :	Romy R Michael			-**/
/** File Info:	resetUicss_v_2.32		-**/
/** email    :	romyrmichael@gmail.com	-**/
/** website  :	www.romyrmichael.co.nf	-**/
/** Framework:	SASS v3.3.15			-**/
/**-************************************-**/
body, html, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td { margin: 0px; padding: 0px; }

fieldset { border: 0px; }

address, button, caption, cite, code, dfn, em, input, optgroup, option, select, strong, textarea, th, var { font: inherit; }

del, ins { text-decoration: none; }

li { list-style: none; list-style-position: outside; }

caption, th { text-align: left; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }

q:before, q:after { content: ''; }

abbr, acronym { border: 0; font-variant: normal; }

legend { color: #000; }

a:link, a:visited, a:hover, a:active { text-decoration: none; outline: 0px none; border: none 0px; }

a:active { outline: none 0px; border: none 0px; }

*|*:-moz-any-link img, img[usemap], object[usemap], *|*:-moz-any-link:focus, :focus { outline-style: none; outline-width: 0px; border: none 0px; }

a img { border: none 0px; }

html { -webkit-font-smoothing: subpixel-antialiased; }

.mto { margin-top: 0px !important; }

.mro { margin-right: 0px !important; }

.mbo { margin-bottom: 0px !important; }

.mlo { margin-left: 0px !important; }

.bto { border-top: 0px none !important; }

.bro { border-right: 0px none !important; }

.bbo { border-bottom: 0px none !important; }

.blo { border-left: 0px none !important; }

.left { float: left !important; }

.right { float: right !important; }

.ato { top: 0px; }

.aro { right: 0px; }

.abo { bottom: 0px; }

.alo { left: 0px; }

.bgno { background: none !important; }

.pto { padding-top: 0px !important; }

.pro { padding-right: 0px !important; }

.pbo { padding-bottom: 0px !important; }

.plo { padding-left: 0px !important; }

br:after { content: " "; width: 100%; display: block; height: 20px; float: left; }

.nopadding { padding: 0px  !important; }

section { width: 100%; }

.hideThis { display: none; }

/*------------------ResetCss ends here-----------------------*/
/*------Variables-------*/
/*------Variables-------*/
div, li, path, a { -webkit-transition: all ease-in 0.3s; -moz-transition: all ease-in 0.3s; -ms-transition: all ease-in 0.3s; -o-transition: all ease-in 0.3s; transition: all ease-in 0.3s; }

body { background: url("../images/bg.jpg"); }

.navbar { border-radius: 0px; min-height: 0px; border: 0px solid transparent; }

.platinoNav { background: #0b2943; padding: 0px 0px 0px; }

.navbar-nav { margin: 0px 0px; }
.navbar-nav li a { padding: 5px 20px 5px 20px; text-transform: uppercase; }
.navbar-nav li.active a:link, .navbar-nav li.active a:visited, .navbar-nav li:hover { background: #004a9b; color: #fff; }

.navbar-header { background: #0b2943; }

/* portable laptops 1024x600 */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
/* Landscape phones and down */
/* java phones and down */
/* java phones and down */

/*# sourceMappingURL=design.css.map */
